/* .card-container {
  height: 40vw;
  width: 30vw;
  border: 5px solid lightgrey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
  background:white;
} */

.dog-image {
  height: 5vw;
  width: 18vw;
  margin-top: 1vw; ;
}

.icon {
  font-size: 4vw;
  border: 5px solid #F6F6F6;
  border-radius: 50%;
  margin-top: 2vw;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.heart {
  color: #4EEBC4;
  margin-left: 7vw;
}

.x {
  color: #F5596A;
}

.icon-container {
  display: flex;
}