.dog-image {
  height: 5vw;
  width: 18vw;
  margin-top: 1vw; ;
}

.icon {
  font-size: 4vw;
  border: 5px solid #F6F6F6;
  border-radius: 50%;
  margin-top: 2vw;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.heart {
  color: #4EEBC4;
  margin-left: 7vw;
}

.x {
  color: #F5596A;
}

.icon-container {
  display: flex;
}

@media screen and (max-width: 620px) {
  .icon {
    font-size: 8vw;
    margin-top: 4vw;
  }
  
  .heart {
    margin-left: 10vw;
  }
}