

.app {
 text-align: center;
 min-height: 100vh;

}

section {
  display: flex;
  justify-content: center;
}

.logo-image {
  height: 10vw;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 6vw;
  color: #F78072;
  margin-bottom: 0px;
}