nav {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background: #F78072;
}

.nav-title {
  font-size: 1.75vw;
  margin:2px;
  padding: 2px;
}

.nav-title:hover {
  transform: scale(1.3);
  color: lightgrey;
}

.selected-title {
  color:lightgrey;
  border: 4px dashed white;
}