.card-container {
  height: 35vw;
  width: 25vw;
  border: 5px solid lightgrey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}

.dog-image {
  height: 25vw;
  width: 23vw;
  margin-top: 1vw; ;
}

.delete {
  font-size: 4vw;
  border: 5px solid #F6F6F6;
  border-radius: 50%;
  color: darkgray;
  margin-top: 2vw;

}

.delete:hover {
  cursor: pointer;
  opacity: 70%;
}