.card-container {
  height: 35vw;
  width: 25vw;
  border: 5px solid lightgrey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
}

.dog-image {
  height: 25vw;
  width: 23vw;
  margin-top: 1vw; ;
}

.delete {
  font-size: 4vw;
  border: 5px solid #F6F6F6;
  border-radius: 50%;
  color: darkgray;
  margin-top: 2vw;

}

.delete:hover {
  cursor: pointer;
  opacity: 70%;
}

/* MOBILE*/
@media screen and (max-width: 620px) {
  .card-container {
    height: 105vw;
    width: 75vw;
    margin-top: 10vw;
  }

  .dog-image {
    height: 75vw;
    width: 65vw;
    margin-top: 2vw; 
  }
  .delete {
    font-size: 12vw;
    margin-top: 6vw;
  }
}

/* SMALL TABLET  */
@media screen and (min-width: 620px) and (max-width:1200px) {
  .card-container {
    height: 90vw;
    width: 75vw;
    margin-top: 10vw;
  }

  .dog-image {
    height: 65vw;
    width: 65vw;
    margin-top: 2vw; 
  }

  .delete {
    font-size: 10vw;
    margin-top: 4vw;
  }
 }
